# Denoise CGM Using Wavelet Transform on Different time segment 
We are trying to clean the data using wavelet transform

* [Cleaning data](#cleaning_data)
* [Denoise Data with DWT ](#denoise_data)
* Adding noise

In [19]:
from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1.inset_locator import inset_axes
from mpl_toolkits.axes_grid1.inset_locator import mark_inset
from statsmodels.nonparametric.smoothers_lowess import lowess
from collections import defaultdict
import pywt
import scaleogram as scg
from ssqueezepy import cwt
from ssqueezepy.visuals import plot, imshow
from sklearn.metrics import mean_squared_error 
# import the written functions
from CGMfunctions import *
## ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [20]:
tsalikian2005 = pd.read_csv("./data/Tsalikian2005_processed.csv",header = 0,index_col=False)  
tsalikian2005.rename(columns = {'gl': 'Glucose','time':'Time'},inplace = True)
tsalikian2005.id.unique()

array([ 7, 43,  2, 27, 38, 15, 16, 19, 22, 32, 11,  8, 20, 44, 35, 18, 42,
       17, 36, 46, 33, 48,  5, 53, 14, 40, 13, 41, 25, 26, 28,  3, 50, 29,
       24, 12,  9, 23,  1, 10, 54, 39,  4, 37, 31, 30,  6, 52, 21, 45],
      dtype=int64)

In [21]:
Anderson2016 = pd.read_csv("./data/Anderson2016_processed.csv",header = 0,index_col=False)  
Anderson2016.rename(columns = {'gl': 'Glucose','time':'Time'},inplace = True)
Anderson2016.head(3)

   id                 Time  Glucose
0   1  2013-09-29 17:36:48      194
1   1  2013-09-29 17:41:48      204
2   1  2013-09-29 17:46:48      201

In [22]:
dfs_good = data_subject_info(Anderson2016)
allsub_daily_dict = split_by_date_allsub(dfs_good)

There are in total  30 subjects.
The information for subject:  1
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2013-09-29                 77
1   2013-09-30                284
2   2013-10-01                285
3   2013-10-02                277
4   2013-10-03                288
..         ...                ...
89  2014-02-22                 28
90  2014-02-23                287
91  2014-02-24                279
92  2014-02-25                285
93  2014-02-26                 96

[94 rows x 2 columns]

Total number of days: 94
The information for subject:  2
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2013-08-26                 23
1    2013-08-27                283
2    2013-08-28                271
3    2013-08-29                267
4    2013-08-30                282
..          ...                ...
243  2014-10-17                288
244  2014-10-18                286
245  2014-10-19                284
246  2014-10-20                286
247  2014-10-21                282

[248 rows x 2 columns]

Total number of days: 248
The information for subject:  3
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(42440, 42451)]
Records per day:
           Date  Number of Records
0    2014-04-27                 28
1    2014-04-28                288
2    2014-04-29                287
3    2014-04-30                287
4    2014-05-01                283
..          ...                ...
239  2015-06-18                286
240  2015-06-19                263
241  2015-06-20                241
242  2015-06-21                288
243  2015-06-22                281

[244 rows x 2 columns]

Total number of days: 244
The information for subject:  4
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2012-03-22                 24
1    2012-03-23                286
2    2012-03-24                288
3    2012-03-25                286
4    2012-03-26                287
..          ...                ...
264  2013-05-13                245
265  2013-05-14                288
266  2013-05-15                287
267  2013-05-16                288
268  2013-05-17                287

[269 rows x 2 columns]

Total number of days: 269
The information for subject:  5
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(14615, 14626)]
Records per day:
           Date  Number of Records
0    2012-02-22                 97
1    2013-12-12                104
2    2013-12-13                285
3    2013-12-14                288
4    2013-12-15                286
..          ...                ...
178  2014-12-31                285
179  2015-01-01                287
180  2015-01-02                282
181  2015-01-03                285
182  2015-01-04                194

[183 rows x 2 columns]

Total number of days: 183
The information for subject:  6
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(3648, 3659)]
Records per day:
           Date  Number of Records
0    2014-02-23                126
1    2014-02-24                288
2    2014-02-25                254
3    2014-02-26                288
4    2014-02-27                288
..          ...                ...
178  2014-11-07                287
179  2014-11-08                261
180  2014-11-09                210
181  2014-11-10                288
182  2014-11-11                138

[183 rows x 2 columns]

Total number of days: 183
The information for subject:  7
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(32654, 32665)]
Records per day:
           Date  Number of Records
0    2014-08-03                185
1    2014-08-04                248
2    2014-08-05                264
3    2014-08-06                217
4    2014-08-07                232
..          ...                ...
226  2015-06-25                160
227  2015-06-26                181
228  2015-06-28                127
229  2015-06-29                284
230  2015-06-30                152

[231 rows x 2 columns]

Total number of days: 231
The information for subject:  8
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(11874, 11885)]
Records per day:
           Date  Number of Records
0    2014-01-23                 16
1    2014-01-24                277
2    2014-01-25                239
3    2014-01-26                122
4    2014-01-27                260
..          ...                ...
197  2014-11-10                251
198  2014-11-11                267
199  2014-11-12                285
200  2014-11-13                286
201  2014-11-14                218

[202 rows x 2 columns]

Total number of days: 202
The information for subject:  9
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(23519, 23530)]
Records per day:
           Date  Number of Records
0    2014-08-31                205
1    2014-09-01                286
2    2014-09-02                287
3    2014-09-03                265
4    2014-09-04                277
..          ...                ...
126  2015-04-03                242
127  2015-04-04                264
128  2015-04-05                261
129  2015-04-06                274
130  2015-04-07                 78

[131 rows x 2 columns]

Total number of days: 131
The information for subject:  10
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(32969, 32980)]
Records per day:
           Date  Number of Records
0    2012-06-30                 37
1    2012-07-01                262
2    2012-07-02                287
3    2012-07-03                287
4    2012-07-04                286
..          ...                ...
183  2013-05-20                286
184  2013-05-21                282
185  2013-05-22                256
186  2013-05-23                285
187  2013-05-24                174

[188 rows x 2 columns]

Total number of days: 188
The information for subject:  11
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(51138, 51149)]
Records per day:
           Date  Number of Records
0    2012-05-22                135
1    2012-05-23                288
2    2012-05-24                264
3    2012-05-25                288
4    2012-05-26                287
..          ...                ...
239  2013-05-17                288
240  2013-05-18                285
241  2013-05-19                288
242  2013-05-20                259
243  2013-05-21                132

[244 rows x 2 columns]

Total number of days: 244
The information for subject:  12
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2013-06-06                278
1    2013-06-07                260
2    2013-06-08                217
3    2013-06-09                281
4    2013-06-10                283
..          ...                ...
105  2013-11-25                238
106  2013-11-26                277
107  2013-11-27                275
108  2013-11-28                283
109  2013-11-29                133

[110 rows x 2 columns]

Total number of days: 110
The information for subject:  13
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(19891, 19902)]
Records per day:
           Date  Number of Records
0    2012-02-03                282
1    2012-02-04                200
2    2012-02-05                131
3    2012-02-06                107
4    2012-02-07                207
..          ...                ...
227  2013-01-13                276
228  2013-01-14                251
229  2013-01-15                280
230  2013-01-16                280
231  2013-01-17                177

[232 rows x 2 columns]

Total number of days: 232
The information for subject:  14
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(40825, 40836)]
Records per day:
           Date  Number of Records
0    2013-07-15                272
1    2013-07-16                195
2    2013-07-17                288
3    2013-07-18                265
4    2013-07-19                288
..          ...                ...
280  2014-07-20                278
281  2014-07-21                287
282  2014-07-22                199
283  2014-07-23                283
284  2014-07-24                163

[285 rows x 2 columns]

Total number of days: 285
The information for subject:  15
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2012-03-13                267
1    2012-03-14                288
2    2012-03-15                288
3    2012-03-16                221
4    2012-03-17                229
..          ...                ...
244  2013-02-13                288
245  2013-02-14                288
246  2013-02-15                286
247  2013-02-16                285
248  2013-02-17                158

[249 rows x 2 columns]

Total number of days: 249
The information for subject:  16
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2012-03-27                132
1    2012-03-28                283
2    2012-03-29                287
3    2012-03-30                288
4    2012-03-31                288
..          ...                ...
130  2012-09-05                285
131  2012-09-06                286
132  2012-09-07                288
133  2012-09-08                136
134  2013-06-02                145

[135 rows x 2 columns]

Total number of days: 135
The information for subject:  17
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(46351, 46362)]
Imputed range for indices 46351 to 46362 does not match the missing values range. Check the imputation logic.
Records per day:
           Date  Number of Records
0    2013-06-07                199
1    2013-06-08                286
2    2013-06-09                282
3    2013-06-10                286
4    2013-06-11                261
..          ...                ...
229  2014-05-19                283
230  2014-05-20                247
231  2014-05-21                286
232  2014-05-22                288
233  2014-05-23                231

[234 rows x 2 columns]

Total number of days: 234
The information for subject:  18
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2012-10-09                264
1    2012-10-10                285
2    2012-10-11                284
3    2012-10-12                288
4    2012-10-13                288
..          ...                ...
107  2013-02-26                288
108  2013-02-27                288
109  2013-02-28                288
110  2013-03-01                262
111  2013-03-02                195

[112 rows x 2 columns]

Total number of days: 112
The information for subject:  19
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2014-06-09                287
1    2014-06-10                288
2    2014-06-11                288
3    2014-06-12                288
4    2014-06-13                281
..          ...                ...
106  2014-10-22                252
107  2014-10-23                199
108  2014-10-24                288
109  2014-10-25                288
110  2014-10-26                191

[111 rows x 2 columns]

Total number of days: 111
The information for subject:  20
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(44270, 44281)]
Imputed range for indices 44270 to 44281 does not match the missing values range. Check the imputation logic.
Records per day:
           Date  Number of Records
0    2013-04-07                 77
1    2013-04-08                233
2    2013-04-09                288
3    2013-04-10                287
4    2013-04-11                285
..          ...                ...
244  2014-05-28                288
245  2014-05-29                285
246  2014-05-30                287
247  2014-05-31                263
248  2014-06-01                159

[249 rows x 2 columns]

Total number of days: 249
The information for subject:  21
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2014-04-26                103
1   2014-04-27                288
2   2014-04-28                287
3   2014-04-29                254
4   2014-04-30                161
..         ...                ...
81  2014-07-16                278
82  2014-07-17                287
83  2014-07-18                287
84  2014-07-19                287
85  2014-07-20                114

[86 rows x 2 columns]

Total number of days: 86
The information for subject:  22
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(22121, 22132)]
Records per day:
          Date  Number of Records
0   2014-12-13                 93
1   2014-12-14                284
2   2014-12-15                285
3   2014-12-16                286
4   2014-12-17                284
..         ...                ...
81  2015-03-06                284
82  2015-03-07                286
83  2015-03-08                245
84  2015-03-09                257
85  2015-03-10                111

[86 rows x 2 columns]

Total number of days: 86
The information for subject:  23
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2014-10-26                 97
1   2014-10-27                279
2   2014-10-28                287
3   2014-10-29                281
4   2014-10-30                281
..         ...                ...
81  2015-01-15                271
82  2015-01-16                262
83  2015-01-17                255
84  2015-01-18                283
85  2015-01-19                115

[86 rows x 2 columns]

Total number of days: 86
The information for subject:  24
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2012-07-27                 97
1   2012-07-28                280
2   2012-07-29                287
3   2012-07-30                284
4   2012-07-31                288
..         ...                ...
83  2012-10-18                273
84  2012-10-19                279
85  2012-10-20                282
86  2012-10-21                280
87  2012-10-22                118

[88 rows x 2 columns]

Total number of days: 88
The information for subject:  25
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2014-10-12                143
1   2014-10-13                286
2   2014-10-14                284
3   2014-10-15                288
4   2014-10-16                287
..         ...                ...
77  2014-12-28                283
78  2014-12-29                284
79  2014-12-30                255
80  2014-12-31                270
81  2015-01-01                110

[82 rows x 2 columns]

Total number of days: 82
The information for subject:  26
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2013-08-19                286
1    2013-08-20                284
2    2013-08-21                274
3    2013-08-22                259
4    2013-08-23                286
..          ...                ...
100  2013-12-21                288
101  2013-12-22                277
102  2013-12-23                248
103  2013-12-24                252
104  2013-12-25                245

[105 rows x 2 columns]

Total number of days: 105
The information for subject:  27
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(17746, 17757)]
Records per day:
           Date  Number of Records
0    2012-12-25                  7
1    2012-12-26                288
2    2012-12-27                288
3    2012-12-28                288
4    2012-12-29                288
..          ...                ...
111  2013-04-18                255
112  2013-04-19                261
113  2013-04-20                283
114  2013-04-21                288
115  2013-04-22                122

[116 rows x 2 columns]

Total number of days: 116
The information for subject:  28
There are missing values in the dataset:
- Time: 12 missing values
Missing time range is  [(3937, 3948)]
Records per day:
           Date  Number of Records
0    2012-12-23                252
1    2012-12-24                291
2    2012-12-25                290
3    2012-12-26                269
4    2012-12-27                220
..          ...                ...
118  2013-04-21                271
119  2013-04-22                277
120  2013-04-23                283
121  2013-04-24                280
122  2013-04-25                130

[123 rows x 2 columns]

Total number of days: 123
The information for subject:  29
There are no missing values in the dataset.
Records per day:
           Date  Number of Records
0    2013-07-27                 71
1    2013-07-28                282
2    2013-07-29                288
3    2013-07-30                288
4    2013-07-31                288
..          ...                ...
107  2013-12-11                287
108  2013-12-12                287
109  2013-12-13                287
110  2013-12-14                238
111  2013-12-15                 80

[112 rows x 2 columns]

Total number of days: 112
The information for subject:  30
There are no missing values in the dataset.
Records per day:
          Date  Number of Records
0   2011-12-23                184
1   2011-12-24                229
2   2011-12-25                279
3   2011-12-26                276
4   2011-12-27                279
..         ...                ...
92  2012-12-18                285
93  2012-12-19                286
94  2012-12-20                282
95  2012-12-21                272
96  2012-12-22                 88

[97 rows x 2 columns]

Total number of days: 97

In [23]:
allsub_daily_240_dict = filter_dfdict_by_record_count(allsub_daily_dict,144) 
allsub_chunk_dict = split_crossover_timechunk(allsub_daily_240_dict)
allsub_chunk_dict2 = remove_dup_dicts(allsub_chunk_dict)

In [24]:
def split_into_8hour_segments(df):
    df['Time'] = pd.to_datetime(df['Time'], errors='coerce')
    df = df.dropna(subset=['Time'])
    df.set_index('Time', inplace=True)
    segments = [("00:00", "07:59"), ("08:00", "15:59"), ("16:00", "23:59")]
    segmented_dfs = {}
    for start, end in segments:
        segment_start = start
        segment_end = end
        if segment_end == "00:00":
            segment_end = "23:59:59"
        else:
            segment_end = segment_end
            
        segment_df = df.between_time(segment_start, segment_end).reset_index()
        key = f"{segment_start}-{segment_end}"
        segmented_dfs[key] = segment_df
    
    return segmented_dfs

def split_into_8hour_dict(df_dicts):
    splited_dict = {}
    for date, date_dfs in df_dicts.items():
        middle_dict = {}
        for subject, df in date_dfs.items():
            final = split_into_8hour_segments(df)
            # for i, df in enumerate(df_list):
            #     new_subject = subject if i == 0 else f"{subject}_2"
            #     middle_dict[new_subject] = split_into_6hour_segments(df)
            middle_dict[subject] = final
        splited_dict[date] = middle_dict
    return splited_dict

def metricdf_by_timesegment(allsub_6hour_2keydict,denoised_signal_dict,org_dict_labels,denoised_dict_labels):
    subjects = []
    mse_values = []
    psnr_values = []
    snr_values = []
    org_labels = []
    denoise_labels = []
    for date, dict in allsub_6hour_2keydict.items():
        for subject, df in dict.items():
            mse_1= get_metrics(df['Glucose'],denoised_signal_dict[date][subject])['MSE'].values 
            psnr_1= get_metrics(df['Glucose'],denoised_signal_dict[date][subject])['PSNR'].values
            snr_1= get_metrics(df['Glucose'],denoised_signal_dict[date][subject])['SNR'].values
            subjects.append(subject)
            mse_values.append(np.round(mse_1,6))
            psnr_values.append(np.round(psnr_1,6))
            snr_values.append(np.round(snr_1,6))
            org_labels.append(org_dict_labels[date][subject]['Label'][0])
            denoise_labels.append(denoised_dict_labels[date][subject]['Label'][0])

    result_df = pd.DataFrame({
        'subject': subjects,
        'MSE_values': mse_values,
        'PSNR_values': psnr_values,
        'SNR_values': snr_values,
        'org_label':org_labels,
        'denoise_label':denoise_labels
    })        
    return result_df

def summarydf_timesegment(df):
    df['time_segment'] = df['subject'].apply(lambda x: x.split('_')[-1])
    result = df.groupby(['time_segment','denoise_label']).agg( mean_MSE=('MSE_values', 'mean'), mean_PSNR=('PSNR_values', 'mean'), mean_SNR=('SNR_values', 'mean'),
                                                              count=('MSE_values', 'size')).reset_index() #,
                                            
    result2 = df.groupby(['time_segment']).agg(mean_MSE=('MSE_values', 'mean'), mean_PSNR=('PSNR_values', 'mean'), mean_SNR=('SNR_values', 'mean'),
                                               org_1s = ('org_label','sum'), denoise_1s = ('denoise_label','sum'), count=('MSE_values', 'size')).reset_index()
    return result, result2

def split_into_4hour_segments(df):
    df['Time'] = pd.to_datetime(df['Time'], errors='coerce')
    df = df.dropna(subset=['Time'])
    df.set_index('Time', inplace=True)
    segments = [("00:00", "03:59"), ("04:00", "7:59"), ("8:00", "11:59"),
                ("12:00","15:59"),("16:00","19:59"),("20:00","23:59")]
    segmented_dfs = {}
    for start, end in segments:
        segment_start = start
        segment_end = end
        if segment_end == "00:00":
            segment_end = "23:59:59"
        else:
            segment_end = segment_end
            
        segment_df = df.between_time(segment_start, segment_end).reset_index()
        key = f"{segment_start}-{segment_end}"
        segmented_dfs[key] = segment_df
    
    return segmented_dfs

def split_into_4hour_dict(df_dicts):
    splited_dict = {}
    for date, date_dfs in df_dicts.items():
        middle_dict = {}
        for subject, df in date_dfs.items():
            final = split_into_4hour_segments(df)
            # for i, df in enumerate(df_list):
            #     new_subject = subject if i == 0 else f"{subject}_2"
            #     middle_dict[new_subject] = split_into_6hour_segments(df)
            middle_dict[subject] = final
        splited_dict[date] = middle_dict
    return splited_dict

In [25]:
allsub_8hours_dict = split_into_8hour_dict(allsub_chunk_dict2)

In [26]:
allsub_8hour_combined = combine_3keys(allsub_8hours_dict)
allsub_8hour_96_combined = filter_6hourdict_by_record_count(allsub_8hour_combined,96)
len(allsub_8hour_96_combined)

5909

In [27]:
allsub_8hour_2keydict = split_combined_3keys(allsub_8hour_96_combined)

In [28]:
wavelet_candidates = ['bior1.1', 'bior1.3', 'bior1.5', 'bior2.2', 'bior2.4', 'bior2.6', 'bior2.8', 'bior3.1', 'bior3.3', 'bior3.5', 'bior3.7',
                          'bior3.9', 'bior4.4','coif2','coif10', 'coif16','db2', 'db3', 'db4', 'db5', 'db6', 'db7', 'db8', 'db9', 'db10', 'db11',
                          'db12', 'db15', 'db25',  'haar', 'rbio1.5', 'rbio3.1', 'rbio6.8']
level_candidates = [2,3,4]

In [29]:
all_param_daily_df,all_param_daily_dict = get_best_parameters_allsubject_alldates(allsub_8hour_96_combined,wavelet_candidates,level_candidates)
denoised_signal_dict = denoised_cgm_allsub_daily(allsub_8hour_2keydict,all_param_daily_df)

In [30]:
allsub_8hour_2keydict_labels = label_glucose(allsub_8hour_2keydict)
denoised_signal_dict_labels = label_denoised_glucose(denoised_signal_dict)

In [31]:
metricdf_8hour = metricdf_by_timesegment(allsub_8hour_2keydict,denoised_signal_dict,
                                         allsub_8hour_2keydict_labels,denoised_signal_dict_labels)
summarydf_8hour,summarydf_8hour2 = summarydf_timesegment(metricdf_8hour)
print(summarydf_8hour)
print(summarydf_8hour2)

  time_segment  denoise_label               mean_MSE             mean_PSNR  \
0  00:00-07:59              0  [0.39221390692969155]   [52.80269063378865]
1  00:00-07:59              1  [0.48842248750000006]       [52.0595697175]
2  08:00-15:59              0   [0.5931439991980758]  [50.420965534081866]
3  08:00-15:59              1    [0.595744973360656]   [49.91865355737699]
4  16:00-23:59              0   [0.6277757405271823]   [50.93766338467872]
5  16:00-23:59              1   [0.6703144665523152]   [49.83195435849059]

              mean_SNR  count
0  [50.37061154476484]   1977
1  [48.55402401499999]    400
2  [47.50317561186848]   1247
3  [46.21181575819672]    488
4  [47.96254112602958]   1214
5  [46.00859215437393]    583
  time_segment              mean_MSE             mean_PSNR  \
0  00:00-07:59  [0.4084038237273873]     [52.677638733698]
1  08:00-15:59  [0.5938755700288191]  [50.279681243227586]
2  16:00-23:59   [0.641576562604342]   [50.57893864218146]

               mean_SNR  org_1s  denoise_1s  count
0   [50.06491738746322]     387         400   2377
1   [47.13995739365994]     476         488   1735
2  [47.328622233166364]     566         583   1797

In [32]:
allsub_4hours_dict = split_into_4hour_dict(allsub_chunk_dict2)
allsub_4hour_combined = combine_3keys(allsub_4hours_dict)
allsub_4hour_48_combined = filter_6hourdict_by_record_count(allsub_4hour_combined,48)
print(len(allsub_4hour_48_combined))
allsub_4hour_2keydict = split_combined_3keys(allsub_4hour_48_combined)

15457

In [33]:
all_param_daily_df4,all_param_daily_dict4 = get_best_parameters_allsubject_alldates(allsub_4hour_48_combined,wavelet_candidates,level_candidates)
denoised_signal_dict4 = denoised_cgm_allsub_daily(allsub_4hour_2keydict,all_param_daily_df4)

In [34]:
denoised_signal_dict4 = denoised_cgm_allsub_daily(allsub_4hour_2keydict,all_param_daily_df4)

In [35]:
allsub_4hour_2keydict_labels = label_glucose(allsub_4hour_2keydict)
denoised_signal_dict_labels4 = label_denoised_glucose(denoised_signal_dict4)

In [36]:
metricdf_4hour = metricdf_by_timesegment(allsub_4hour_2keydict,denoised_signal_dict4,
                                         allsub_4hour_2keydict_labels,denoised_signal_dict_labels4)
summarydf_4hour,summarydf_4hour2 = summarydf_timesegment(metricdf_4hour)
print(summarydf_4hour)
print(summarydf_4hour2)

   time_segment  denoise_label               mean_MSE             mean_PSNR  \
0   00:00-03:59              0  [0.27572212109815697]                 [inf]
1   00:00-03:59              1  [0.30885341967213115]   [53.40552834754099]
2    04:00-7:59              0   [0.3276337413793106]   [54.99789973333326]
3    04:00-7:59              1  [0.40995084558823547]   [53.57549702205882]
4   12:00-15:59              0  [0.48473119889502775]   [51.89740888749374]
5   12:00-15:59              1  [0.44239126293103487]   [50.70661480172417]
6   16:00-19:59              0   [0.4851912838609242]   [51.47055119252721]
7   16:00-19:59              1   [0.5086359134808855]  [50.506836853118706]
8   20:00-23:59              0  [0.48503906867167945]   [51.99894123157902]
9   20:00-23:59              1   [0.5102536201373002]    [49.7554589130435]
10   8:00-11:59              0  [0.44863249974683567]   [51.71484600000007]
11   8:00-11:59              1   [0.4161034400000001]  [51.757496384615415]

               mean_SNR  count
0                 [inf]   2659
1   [50.13028008196722]    305
2   [53.33476904061312]   2610
3   [50.41980761764705]    272
4   [49.71354214314403]   1991
5   [47.44777923275865]    464
6   [49.30345631395948]   1927
7   [47.03962737625759]    497
8   [49.75120083007518]   1995
9   [46.37270670938214]    437
10  [49.65168558582284]   1975
11  [48.60519895384616]    325
  time_segment               mean_MSE             mean_PSNR  \
0  00:00-03:59   [0.2791313809041835]                 [inf]
1   04:00-7:59  [0.33540273941707155]  [54.863654925052074]
2  12:00-15:59    [0.476728864765784]  [51.672346380040736]
3  16:00-19:59   [0.4899982066831681]   [51.27295794719475]
4  20:00-23:59   [0.4895698083881581]   [51.59581550246715]
5   8:00-11:59  [0.44403600217391304]  [51.720872684782684]

               mean_SNR  org_1s  denoise_1s  count
0                 [inf]     298         305   2964
1   [53.05965817765454]     263         272   2882
2  [49.285308338492854]     448         464   2455
3  [48.839296667904264]     485         497   2424
4    [49.1441276677632]     426         437   2432
5   [49.50381247478265]     319         325   2300